:root {
    --main-bg_color: #f5f4f0;
    --heading-color: #2A2626;
    --heading-color_orange: #FE8A02;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    background-color: var(--main-bg_color);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2A2626;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.header {
    padding: 100px 0;
    position: relative;
    background-color: var(--main-bg_color);
}

.bg-image::before {
    z-index: 1;
    content: "";
    background-image: url(../img/background.png);
    opacity: 9%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;

}

.heading {
    position: relative;
    z-index: 5;
    font-family: 'Neucha';
    color: var(--heading-color);
}
.heading-orange {
    color: var(--heading-color_orange);
}
.header__heading {
    line-height: 86px;
    font-size: 72px;
    margin-bottom: 220px;
}
.header__inner {
    position: relative;
}
.header__image {
    position: absolute;
    height: 525px;
    width: auto;
    top: -60px;
    right: -321px;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about__text-inner {
    max-width: 50%;
}
.about__text-inner:not(:last-child) {
    margin-right: 30px;
}
.text-inner {
    line-height: 25px;
    color: #2A2626;
}
.text-inner_link {
    cursor: pointer;
    margin-top: 40px;
    display: block;
    width: fit-content;
    padding: 12px 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--heading-color_orange);
}
.videoblock {
    background-color: #fff;
    padding-bottom: 484px;
}
.videoblock__heading {
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.heading-videoblock {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 27px;
}
.videoblock__text {
    margin-bottom: 30px;
    line-height: 160%;
    color: #212529;
}
.video {
    position: absolute;
    /* top: 40px; */
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.navblock {
    background-color: #42413C;
    padding-bottom: 80px;
}
#navigation {
    padding-top: 190px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -60px;
}
.heading__nav {
    font-size: 52px;
    line-height: 120%;
}
.nav__navinner {
    min-height: 358px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    margin: 0 15px;
    max-width: 350px;
    padding: 24px;
    margin-bottom: 20px;
    
}

.first-item {
    padding: 0;
}
.navlink {
    background-color: #F5F4F0;
}
.navlink-number {
    font-family: 'Neucha';
    font-size: 64px;
    line-height: 70px;
    color: #42413C;
    margin-bottom: 40px;
    line-height: 1;
}
.navlink-heading {
    font-family: 'Neucha';
    font-size: 34px;
    line-height: 120%;
    color: var(--heading-color_orange);
    margin-bottom: 16px;
}
.navlink-text {
    line-height: 160%;
    color: var(--heading-color);
}
.navlink:hover {
    background-color: var(--heading-color_orange);  
}
.navlink:hover >*  {
  color: #fff;
}
.ikea-section {
    padding: 100px 0;
    position: relative;
}

.column {
    column-count: 2;
    column-gap: 30px;
}
.information_box--white {
    font-family: 'Neucha';
    
}


.information_name--white {
    font-size: 24px;
    line-height: 29px;
    color: #908D8B;
}
.information_heading--white {
    font-size: 60px;
    line-height: 72px;
    color: #2A2626;
    margin-bottom: 30px;
}
.information_text--white {
    font-size: 34px;
    line-height: 40px;
}
.howAppear {
    text-transform: uppercase;
    line-height: 17px;
    column-span: all;
    margin: 100px 0 20px;
    padding: 5px 0 5px 10px;
}
.ikea-effect_howAppear {
    background-color: #B09A81;
    color: #fff;
}
.ikea-effect_text--white {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #2A2626; 
}
.img_section {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
    max-width: 100%;
}
#premature-optimization {
    padding: 100px 0;
    position: relative;
  
}
.premature-optimization {
    position: relative;
}
.bg-image_brown {
    background-color: #B09A81;
    

}

.bg-image_brown::before {
z-index: 1;
    content: "";
    background-image: url(../img/background.png);
    opacity: 9%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #B09A81;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.optimization__information {
    /* padding-right: 30px; */
}
.optimization_howAppear {
    color: #B09A81;
    background-color: #fff;
}
.optimization_text {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #fff;
}
.information_box--brown {
    font-family: 'Neucha';
    color: #fff;
}
.information_name--brown {
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0;
}
.information_heading--brown {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
}
.information_text--brown {
    font-size: 34px;
    line-height: 41px;
}
.optimization_text--brown {
    line-height: 26px;
    color: #fff;
}
#distortion-of-novelty {
    padding: 100px 0;
    position: relative;
}
.novelty_howAppear {
    background-color: #B09A81;
    color: #fff;
}
.novelty_text--white {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #2A2626; 
}