:root {
    --main-bg_color: #f5f4f0;
    --heading-color: #2A2626;
    --heading-color_orange: #FE8A02;
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
/* img {
    width: 100%;
} */
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

ul {
    padding-left: 40px;
    margin-bottom: 25px;
}
body {
    background-color: var(--main-bg_color);
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2A2626;
    
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

}
.header {
    padding: 100px 0;
    position: relative;
    background-color: var(--main-bg_color);
}

.bg-image::before {
    z-index: 1;
    content: "";
    background-image: url(../img/background.png);
    opacity: 9%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    position: relative;
    z-index: 5;
    font-family: 'Neucha';
    color: var(--heading-color);
}
.heading-orange {
    color: var(--heading-color_orange);
}
.header-heading {
    line-height: 86px;
    font-size: 72px;
    margin-bottom: 208px;
}
.header-inner {
    position: relative;
}
.header-image {
    position: absolute;
    height: 525px;
    width: auto;
    top: -63px;
    right: -323px;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about-text-inner {
    width: 50%;
}
.about-text-inner:not(:last-child) {
    margin-right: 30px;
    
}
.text-inner {
    line-height: 25px;
    color: #2A2626;
}
.text-inner-link {
    cursor: pointer;
    margin-top: 40px;
    display: block;
    width: fit-content;
    padding: 12px 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--heading-color_orange);
}
.text-inner-link:hover {
    background-color: #EA7600;
}
.videoblock {
    background-color: #fff;
    padding-bottom: 484px;
}
.videoblock-heading {
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.heading-videoblock {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 27px;
}
.videoblock-text {
    margin-bottom: 30px;
    line-height: 160%;
    color: #212529;
}
.video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.navblock {
    background-color: #42413C;
    padding-bottom: 80px;
}
.nav {
    padding-top: 190px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -60px;
}
.heading-nav {
    font-size: 52px;
    line-height: 120%;
}
.nav-navinner {
    min-height: 358px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    margin: 0 15px;
    max-width: 350px;
    padding: 24px;
    margin-bottom: 20px;
}

.first-item {
    padding: 0;
}
.navlink {
    background-color: #F5F4F0;
}
.navlink-number {
    font-family: 'Neucha';
    font-size: 64px;
    line-height: 70px;
    color: #42413C;
    margin-bottom: 40px;
    line-height: 1;
}
.navlink-heading {
    font-family: 'Neucha';
    font-size: 34px;
    line-height: 120%;
    color: var(--heading-color_orange);
    margin-bottom: 16px;
}
.navlink-text {
    line-height: 160%;
    color: var(--heading-color);
}
.navlink:hover {
    background-color: var(--heading-color_orange);  
}
.navlink:hover >*  {
  color: #fff;
}
.ikea-section {
    padding: 100px 0;
    position: relative;
}
.column {
    column-count: 2;
    column-gap: 30px;
    padding-bottom: 30px;
}
.information-box--white {
    font-family: 'Neucha';
}

.information-name--white {
    font-size: 24px;
    line-height: 29px;
    color: #908D8B;
}
.information-heading--white {
    font-size: 60px;
    line-height: 72px;
    color: #2A2626;
    margin-bottom: 30px;
}
.information-text--white {
    font-size: 34px;
    line-height: 40px;
}
.howAppear {
    text-transform: uppercase;
    line-height: 17px;
    column-span: all;
    margin: 100px 0 20px;
    padding: 5px 0 5px 10px;
}
.ikea-effect-howAppear {
    background-color: #B09A81;
    color: #fff;
}
.ikea-effect-text--white {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #2A2626; 
}
.img-section {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
    max-width: 100%;
}
#premature-optimization {
    line-height: 26px;
    padding: 100px 0;
    position: relative;
}

#premature-optimization .information-heading--brown {
    color: #fff;
    margin-bottom: 30px;
}

.bg-image-brown {
    background-color: #B09A81;
}
.bg-image-brown::before {
    z-index: 1;
    content: "";
    background-image: url(../img/background.png);
    opacity: 9%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #B09A81;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.optimization-howAppear {
    color: #B09A81;
    background-color: #fff;
}
.optimization-text {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #fff;
}
.information-box--brown {
    font-family: 'Neucha';
    color: #fff;
}
.information-name--brown {
    font-size: 24px;
    line-height: 29px;
    color: #D7CCC0;
}
.information-heading--brown {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
}
.information-text--brown {
    font-size: 34px;
    line-height: 41px;
}
.optimization-text--brown {
    line-height: 26px;
    color: #fff;
}
#premature-optimization h2 {

    font-family: 'Neucha';
    color: var(--heading-color_orange);
    font-size: 60px;
    /* margin-top: 0.83em; */
    margin-bottom: 0.83em;
    
}
#distortion-of-novelty {
    padding: 100px 0;
    position: relative;
}
.novelty-howAppear {
    background-color: #B09A81;
    color: #fff;
}
.novelty-text--white {
    break-inside: avoid;
    font-family: 'Open Sans';
    line-height: 26px;
    color: #2A2626; 
}
#hyperbolic-depreciation {
    padding: 100px 0;
    position: relative;
}
.hyperbolic-depreciation-howAppear {
    background-color: #fff;
    color: #B09A81;
}
.hyperbolic-depreciation-text--brown {
    line-height: 26px;
    color: #fff;
}
#errors-in-planning {
    position: relative;
    padding: 100px 0;
}
.errors-howAppear {
    background-color: #B09A81;
    color: #fff;
}
.errors-text--white {
    line-height: 26px;
    color: #2A2626;
}
#footer {
    padding-top: 100px;
    background-color: #fff;
}
.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #42413C;
}
.subscription-heading {
    font-family: 'Neucha';
    font-size: 34px;
    line-height: 41px;
    color: #fff;
    margin: 55px;
    width: 50%;
}
.subscription-form {
    margin: 55px;
    width: 50%;
}
.form-name {
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 9px;
}
.email-enter {
    height: 50px;
    padding: 15px;
    width: 100%;
}
::placeholder {
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 21px;
    color:#757575;
    opacity: .2;
}
.form-email {
    display: flex;
}
.send-btn {
    position: relative;
   height: 50px;
   width: 70px;
   background-repeat: no-repeat;
   background-color: var(--heading-color_orange);
}
.send-btn:hover {
    background-color: #EA7600;
}
.send-btn::before {
    content: '';
    background-image: url(../img/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}
.form-text {
    font-size: 12px;
    line-height: 19px;
    color: #fff;
}
.contacts {
    padding: 76px 0 111px 0;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    text-align: center;
}
.copyright {
    margin-bottom: 2px;
}
.contacts p {
     margin: 16px 0;   
}
.contacts-links {

    color: #007DC1;
}